@import "../../../styles/vars";

.RULES {

  & h1 {
    font-size: 2em;
    padding: 20px 0;
  }

  & h2 {
    font-size: 1.5em;
    padding: 20px 0 10px 0;
  }

  & p, & ul {
    line-height: 21px;
    padding: 20px 0 10px 0;
  }

  & ul {

    & li {
      padding: 10px;

      & .exemple {
        padding-top: 5px;
        font-style: italic;
      }
    }
  }

  & .highlight {
    font-weight: 500;
    color: $main-color;
  }
}
