<div class="RULES">

  <h1>Règles du jeu</h1>

  <p>
    Bienvenue dans Berloul !, le jeu de devinettes entre amis.
  </p>
  <p>
    Le principe est simple : il y a cinq tours de jeu, et le but est de faire deviner un maximum de cartes aux autres
    joueurs.
  </p>

  <h2>Préparation d'une partie</h2>
  <p>
    Il suffit de cliquer sur "Commencer", et de renseigner le nom de tous les participants. Une fois que tout le monde
    est prêt, on peut cliquer sur "Valider", et la partie commence !
  </p>

  <h2>Déroulement d'un tour</h2>
  <p>
    La partie est constituée de cinq tours, et dans chaque tour, chaque joueur joue une fois. Lorsque c'est son tour, le
    joueur annoncé par le jeu prend le téléphone, clique sur "Je suis prêt", et son tour commence !
  </p>
  <p>
    Le joueur dont c'est le tour commence par annoncer la catégorie (Chanteur, Sportif, Film, Série, Jeu Vidéo,
    Expression...) de la carte qu'il doit faire deviner ainsi que la façon (Concepts proches, Mime, 1, 2, ou 3 mots...)
    dont il doit le faire, et il peut commencer.
  </p>
  <p>
    Tous les autres joueurs peuvent faire autant de propositions qu'il le souhaitent pendant le temps imparti, et si un
    joueur trouve, le joueur dont c'est le tour clique sur "Trouvé !". Le joueur qui a fait deviné, ainsi que le joueur
    qui devinne, gagnent tous les deux des points ! Si personne ne trouve, le tour se termine, et le joueur dont c'est
    le tour perd des points !
  </p>

  <p>
    Les différentes façons pour faire deviner des cartes sont les suivantes :
  </p>

  <ul>
    <li>
      <span class="highlight">Mime</span> : le joueur actif n'a le droit que de mimer, et n'a pas le droit de parler.
    </li>
    <li>
      <span class="highlight">Un, deux, ou trois mots</span> : le joueur actif commence par donner un mot, et les autres
      joueurs font leurs propositions. Si personne ne trouve, le joueur actif peut dire un autre mot, puis encore un. Le
      moins de mots ont été utilisés pour faire deviner, le plus de points seront gagnés par le joueur actif et celui
      qui a deviné.
      <div class="exemple">Ex : Bruce Willis = Acteur, Chauve, Action</div>
    </li>
    <li>
      <span class="highlight">Concepts proches</span> : le joueur actif doit remplacer chaque mot de la carte à faire
      deviner par un autre dont le concept est proche (synonyme, antonyme, mot de la même famille...).
      <div class="exemple">Ex : Bon pied bon oeil = Mauvais orteil mauvaise bouche</div>
      <div class="exemple">Ex 2 : Orange Mécanique = Fraise Hydrolique</div>
    </li>
  </ul>

  <p>Attention, si une majorité de joueurs contestent la façon dont le jour a été joué (trop facile, mots interdits...),
    le tour est perdu !</p>

  <h2>Fin de partie</h2>
  <p>
    La partie se termine au bout de 5 tours par joueur, et le total de score est révélé. Le gagnant est celui qui a
    <span class="highlight">totalisé le plus de points</span> !
  </p>

  <button class="btn-main" (click)="quit()">Quitter</button>
</div>
