@import "./vars";

html {
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

body {
  height: 100%;
  color: $text-color;
  background: $background-grad no-repeat fixed;
}

button {

  border: none;
  color: $text-color;
  font-size: 1.1em;
  border-radius: 10px;
  width: calc(100%);
  height: 50px;
  margin: 25px 0 0 0;
  transition: color 0.2s, border 0.2s, background 0.2s;

  &.btn-inline {
    display: inline-block;
    width: 30%;
  }

  &.btn-small {
    display: inline-block;
    width: calc(20% - 40px);
    margin: 0 10px;
    height: 30px;
    vertical-align: middle;
  }

  &.disabled {
    opacity: 0.5;
  }

  &.unselected {
    color: $sec-color;
    border: 2px solid $sec-color;
    background: transparent !important;
  }

  &.btn-main {
    background-color: $main-color;
  }

  &.btn-sec {
    background-color: $sec-color;
  }

  &.btn-ter {
    background-color: $ter-color;
  }

}

input {
  vertical-align: middle;
  width: 80%;
  display: inline-block;
  height: 30px;
}


h1.logo {

  font-family: Harlow, sans-serif;
  text-align: center;

  &.logo-big {
    padding: 100px 0;
    font-size: 3em;
  }

  &.logo-header{
    font-size: 1.5em;
  }
}

.header{
  width: 100%;
  padding: 20px 0;
  height: 25px;
}

.main-container{
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}
