$palette-1: #EF476F;
$palette-2: #FFD166;
$palette-3: #06D6A0;
$palette-4: #118AB2;
$palette-5: #073B4C;

$header-background-grad: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
$background-grad: radial-gradient(circle, $palette-4 0%, $palette-5 100%);
$main-color: $palette-3;
$sec-color: $palette-2;
$ter-color: $palette-1;
$text-color: #FFF;
