@import "../../../styles/vars";

.END_OF_GAME {

  & .score-line {
    padding: 10px 0;
    text-align: center;

    &.winner {
      color: $main-color;
    }

    & .bold {
      font-weight: 500;
    }
  }
}
