<div class="END_OF_GAME">
  <div class="label">
    Fin de partie ! Scores :
  </div>
  <div class="score-line" [ngClass]="{'winner': isHigherScore(player)}" *ngFor="let player of players">
    {{ player.name }} : <span class="bold">{{ player.score }} point(s)</span>
  </div>
  <div class="buttons">
    <button class="btn-main" (click)="playAgain()">Rejouer</button>
    <button class="btn-ter" (click)="quit()">Quitter</button>
  </div>
</div>
