<div class="header" *ngIf="currentState !== GAME_STATE.HOME">
  <h1 class="logo logo-header">Berloul !</h1>
</div>

<div class="main-container">

  <div *ngIf="currentState === GAME_STATE.HOME">
    <app-home-state
      (_exitState)="exitHomeState($event)">
    </app-home-state>
  </div>

  <div *ngIf="currentState === GAME_STATE.RULES">
    <app-rules-state
      (_exitState)="exitRuleState()">
    </app-rules-state>
  </div>

  <div *ngIf="currentState === GAME_STATE.NEW_GAME">
    <app-new-game-state
      (_exitState)="exitNewGameState($event)">
    </app-new-game-state>
  </div>

  <div *ngIf="currentState === GAME_STATE.PLAYER_START">
    <app-g-player-start-state
      [turnNumber]="turnNumber"
      [currentPlayer]="currentPlayer"
      (_exitState)="exitPlayerStartState()">
    </app-g-player-start-state>
  </div>

  <div *ngIf="currentState === GAME_STATE.PLAYER_TURN">
    <app-g-player-turn-state
      [currentPlayer]="currentPlayer"
      [currentChallenge]="currentChallenge"
      (_playerPass)="playerPass()"
      (_exitState)="exitPlayerTurnState($event)">
    </app-g-player-turn-state>
  </div>

  <div *ngIf="currentState === GAME_STATE.PLAYER_END_OF_TURN">
    <app-g-player-end-of-turn-state
    [players]="players"
    [currentPlayer]="currentPlayer"
    [currentChallenge]="currentChallenge"
    [somebodyGuessed]="somebodyGuessed"
    (_exitState)="exitPlayerEndOfTurnState($event)">
    </app-g-player-end-of-turn-state>
  </div>

  <div *ngIf="currentState === GAME_STATE.END_OF_GAME">
    <app-g-end-of-game-state [players]="players" (_exitState)="exitEndOfGameState($event)"></app-g-end-of-game-state>
  </div>

</div>

<div class="footer" *ngIf="currentState == GAME_STATE.HOME">
  <div>Version : {{appVersion}}</div>
  <div>Made with &hearts; by <a href="https://flusin.ovh">Jérémy Flusin</a> and <a href="https://angular.io">Angular</a></div>
</div>
