.PLAYER_END_OF_TURN {

  .label {
    padding: 25px 0;
    text-align: center;
  }

  .value {
    font-size: 2em;
    text-align: center;
  }

  & .in-words {

    & .words-buttons {
      display: flex;
      justify-content: space-between;
    }
  }
}
