<div class="PLAYER_END_OF_TURN">

  <div class="failure" *ngIf="!somebodyGuessed">
    <div class="label">
      C'est raté ! Tu perds {{NUMBER_POINTS_LOST_BY_LOSING}} points !
    </div>
    <button class="btn-ter" (click)="imABerloul()">Je suis un BERLOUL</button>
  </div>
  <div class="success" *ngIf="somebodyGuessed">

    <div class="label">Bravo ! Qui a trouvé ?</div>

    <button class="btn-sec"
            [ngClass]="{'unselected': !isDesignatedGuesser(player)}"
            *ngFor="let player of getOpponents(currentPlayer)"
            (click)="designateGuesser(player)">{{ player.name }}</button>

    <div class="in-words" *ngIf="currentChallenge.constraint === Constraint.ONE_TWO_THREE">
      <div class="label">En combien de mot ?</div>
      <div class="words-buttons">
        <button (click)="inWords(1)" [ngClass]="{'unselected': numberOfWords != 1}" class="btn-sec btn-inline">1</button>
        <button (click)="inWords(2)" [ngClass]="{'unselected': numberOfWords != 2}" class="btn-sec btn-inline">2</button>
        <button (click)="inWords(3)" [ngClass]="{'unselected': numberOfWords != 3}" class="btn-sec btn-inline">3</button>
      </div>
    </div>

    <button [ngClass]="{'disabled': this.designatedGuesser === null}" class="btn-main" (click)="validateGuess()">Valider</button>
    <button class="btn-ter" (click)="contest()">Contestation</button>

  </div>
  <div class="label">
    Ton score est à présent de :
  </div>
  <div class="value">
    {{ currentPlayer.score + computeGain() }} point(s) !
  </div>

</div>
