@import "../../../styles/vars";

.PLAYER_TURN {
  .label {
    padding: 25px 0;
    text-align: center;

    & .highlight-main{
      padding: 10px 0;
      font-weight: 500;
      color: $main-color;
    }

    & .highlight-sec{
      padding: 10px 0;
      font-weight: 500;
      color: $sec-color;
    }
  }

  .value {
    font-size: 2em;
    text-align: center;
  }

  & .to-guess{
    font-size: 2em;
    color: $main-color;
    padding: 20px 0;
    text-align: center;
  }

  & .timer {
    padding: 25px 0;
    text-align: center;
    font-size: 2em;
  }

}

