<div class="PLAYER_TURN">
  <div class="label">
    Tu dois faire deviner un(e)
    <div class="highlight-main">{{currentChallenge.subtype}}</div>
    en
    <div class="highlight-sec">{{currentChallenge.constraint}}</div>
  </div>
  <div class="to-guess">{{currentChallenge.value}}</div>
  <div class="timer">
    {{ currentTimeLeft }}
  </div>
  <div class="buttons">
    <button class="btn-main" (click)="somebodyGuessed()">Trouvé !</button>
    <button class="btn-sec" [ngClass]="{'disabled': currentPlayer.passLeft <= 0}" (click)="playerPass()">
      Je passe ! ({{ currentPlayer.passLeft }} restants)
    </button>
    <button class="btn-ter" (click)="abort()">J'abandonne...</button>
  </div>
</div>
