<app-turn-counter [turnNumber]="turnNumber" [currentPlayer]="currentPlayer"></app-turn-counter>
<div class="PLAYER_START">
  <div class="label">C'est au tour de :</div>
  <div class="value">
    {{ currentPlayer.name }}
  </div>
  <button class="btn-main" (click)="readyClick()">Je suis prêt !</button>
</div>
