<div class="HOME">
  <h1 class="logo logo-big">Berloul !</h1>
  <button class="btn-main" (click)="startClick()">Commencer</button>
  <button class="btn-sec" (click)="rules()">Règles du jeu</button>
</div>
