<div class="NEW_GAME">
  <div class="label">Nom des joueurs :</div>
  <div class="player-to-create" *ngFor="let it of playersToCreate; let $index = index; trackBy:trackByFn">
    <input autocomplete="PLAYER" type="text" [(ngModel)]="this.playersToCreate[$index]"/>
    <button class="btn-ter btn-small" *ngIf="$index >= MIN_PLAYERS" (click)="removePlayer($index)">X</button>
  </div>
  <button class="btn-sec" (click)="addPlayer()">Ajouter un joueur</button>
  <button class="btn-main" [ngClass]="{'disabled': !canRunGame()}" (click)="newGame()">C'est parti !</button>
</div>
